body {
    background-color: gray;
    margin: 0;
    padding: 0;
}
#container {
    max-width: 990px;
    margin: 0 auto;
    /* background: #f9f9f9; */
    
    font-size: 20px;
    padding: 25px;
}

.parallax {
    background: url('Parallax Scrolling Images/Img_03.jpg ') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.parallax p {
    
    font-size: 18px;
    color: snow;
    text-align: center;
    padding: 12em 0;    
}

button {
    color: Snow;
    background-color: slateblue;
    font-family: Arial;
    letter-spacing: .9px;
    outline: none;
    border: none;
    border-radius: 3px;
    height: 40px;
    
}
button:hover {
    transition: 200ms all;
    background-color: crimson;
}

#hrclr {
    margin-top: -1px;
    background-color: blue;
    width: 250px;
    float: left;
    position: absolute;
}

#hdncnt {
    /* background-color: red; */
    font-family: consolas;
    color: snow;
    display: none;
}